<h2><%=
@user.name
-%></h2>
<p><%=
@user.name
-%> 's posts</p>
<%
if @room.present?
-%>Posts on <%= @room.title %><br>
<%=
  render partial: "post", collection: @posts
-%><%
end
-%>

<%
if @rooms.present?
-%>
<p>Rooms that has user's posts and comments:</p>
<ul><%=
  render partial: "room", collection: @rooms
-%></ul>
<%
end
-%><%=
render partial: "room_link", collection: ChatRoom.all
-%><br>
<%=
link_to "Chat Room that has user posts and comments", user_path(@user, show: "room")
-%>&nbsp;<%
-%><br>
<%=
link_to "Users", users_path
-%>